<h4>Title:  <%= @article.title %></h4>

<div>
  <strong>Text: </strong>
  <p><%= @article.text %></p>
</div>

<%= link_to "Edit this article", edit_article_path(@article) %>
<%= link_to "Back to listing", articles_path %>